body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #E6CCFF;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: "Courier New", Courier, monospace;
}

button {
    font-family: "Courier New", Courier, monospace;
    border-radius: 25px;
    background: #FB7AFF;
    border: 0.5px solid #bdbdbd;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  border-radius: 25px;
  font-family: "Courier New", Courier, monospace;
  border: 0.5px solid #bdbdbd;
}

img {
  border-radius: 25px;
  border: 2px solid #bdbdbd;
}

.addOption {
  margin-top: 10px;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}
